<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Test!</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="main-content">
      <h1>What's the weather?</h1>
      <form action="/weather-forecast" method="get">
        <div id="lbl-input-section">
          <label for="location" id="location-input-lbl"
            >Enter a Location!</label
          >
          <input
            class="form-control"
            type="text"
            placeholder="enter location"
            name="location"
            id="location-input"
            autocomplete="off"
            required
          />
        </div>
        <input type="submit" value="Get Weather" id="sbmt-btn" />
      </form>
    </div>
  </body>
</html>
